.cc.o:
	$(C++) $(OPT) $(INCL) -o $@ -c $<

triad:  FORCE
	make -f $(TRI)/config/Depend compile NAME=triad

clean:  FORCE
	rm -rf *.o *.$(D) *mon.out $(CLEAN)

FORCE:

%.$(D): %.cc
	$(MAKEDEPEND) $(INCL) $(MDOPTS) $< > $@

ifneq ($(wildcard $(TRI)/config/$(HOSTTYPE).rules),)
include $(TRI)/config/$(HOSTTYPE).rules
endif
