.cc.o:
	$(C++) $(OPT) $(INCL) -o $@ -c $<

.c.o:
	$(CC) $(OPT) $(INCL) -o $@ -c $<

default: $(CLEAN) dependencies
	make -f $(TRI)/config/Compile files

clean:  FORCE
	rm -rf *.o *.$(D) *mon.out $(CLEAN)

dependencies: $(FILES:=.$(D))

FORCE:

%.$(D): %.cc
	$(MAKEDEPEND) $(INCL) $(MDOPTS) $< > $@

ifneq ($(wildcard $(TRI)/config/$(HOSTTYPE).rules),)
include $(TRI)/config/$(HOSTTYPE).rules
endif
