.cc.o:
	$(C++) $(OPT) $(INCL) -o $@ -c $<

clean:
	rm -f *.o *mon.out $(ALL)

%.$(D): %.cc
	$(MAKEDEPEND) $(INCL) $(MDOPTS) $< > $@

all: $(TRIAD:=.o)
	$(C++) $(OPT) -o triad $(TRIAD:=.o) $(LIB)

include $(TRIAD:=.$(D))

